@import 'vars';
@import 'typography';

body {
  font-family: Helvetica, sans-serif;
  color: $font-color--dark;
}

.md-sidenav-left md-list-item .md-button {
  margin: 0;
  padding: 0 14px;
  width: 100%;
  line-height: 48px;
  text-align: left;
}

.my-dashboard img {
  position: absolute;
  top: 5px;
}
.my-dashboard md-grid-tile-footer {
  height: 30px;
  justify-content: center;
}

