@import 'vars';
@import 'typography';

body {
  font-family: Helvetica, sans-serif;
  color: $font-color--dark;
}

.md-sidenav-left md-list-item .md-button {
  margin: 0;
  padding: 0 14px;
  width: 100%;
  line-height: 48px;
  text-align: left;
}

.my-dashboard img {
  position: absolute;
  top: 5px;
}
.my-dashboard md-grid-tile-footer {
  height: 30px;
  height: 30px;
  justify-content: center;
}

.my-chart .bar {
  fill: steelblue;
}

.my-chart .bar:hover{
  fill: brown;
}

.my-chart .axis text {
  font: 10px sans-serif;
  fill: $font-color--dark;
}

.my-chart .axis path,
.my-chart .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.my-chart .x.axis path {
  display: none;
}

form[name="my-form"]{
  margin: 15px;
  padding: 15px;
}
