<!doctype html>
<html class="no-js">
  <head>
      <base href="/">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title ng-bind="pageTitle"></title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="css/angular-material.css">
    <link rel="stylesheet" href="css/main.css">
  </head>

  <body layout="column" ng-controller="LeftNavCtrl as nv">

    <md-toolbar layout="row" class="md-toolbar-tools">
      <md-button class="menu md-icon-button" ng-click="nv.toggleSideNav()" aria-label="Left Nav Menu">
        <md-icon md-svg-icon="menu"></md-icon>
      </md-button>
      <h1>Angular Material - Starter App</h1>
    </md-toolbar>

    <div flex layout="row" >
      <md-sidenav md-component-id="left" class="md-sidenav-left">
        <md-list ng-click="nv.toggleSideNav()">

          <md-list-item >
            <md-button ui-sref="Home" >
              Home
            </md-button>
          </md-list-item>

          <md-list-item >
            <md-button ui-sref="Reports" >
              Reports
            </md-button>
          </md-list-item>

        </md-list>
      </md-sidenav>

      <md-content flex>
        <div ui-view></div>
      </md-content>
    </div>

    <script>
      var xhr = new XMLHttpRequest();
      xhr.open("GET", "js/rev-manifest.json");
      xhr.responseType = "json";

      xhr.onload = function(){
        var manifest = xhr.response;
        var el = document.createElement('script');
        el.async = true;
        el.src = 'js/' + manifest['main.js'];
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(el, s);
      };
      xhr.addEventListener("error", function(){
        debugger
      });
      xhr.send();

    </script>
  </body>
</html>
